Django
pillow
django-extensions
Werkzeug
pyOpenSSL
python-decouple
requests
easy-thumbnails
django-browser-reload
django-debug-toolbar
redis
djangorestframework
markdown
django-filter
django-oauth-toolkit
django-cors-headers
django-allauth[socialaccount]