{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body>
        <div class="drawer">
            <input type="checkbox" class="drawer-toggle" id="my-drawer">
            <div class="drawer-content flex flex-col">
                {% block body %}
                    <div class="navbar bg-neutral w-full mb-4">
                        <div class="flex-none lg:hidden">
                            <label for="my-drawer"
                                   aria-label="open sidebar"
                                   class="btn btn-square btn-ghost">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     class="inline-block h-5 w-5 stroke-current">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                                </svg>
                            </label>
                        </div>
                        <div class="flex-1">
                            <a class="mx-2 px-2 text-xl" href="{% url "user_edit" %}">Identity</a>
                        </div>
                        <div class="hidden flex-none lg:block">
                            <ul class="menu menu-horizontal">
                                {% include "allauth/layouts/menu.html" %}
                            </ul>
                        </div>
                        {% if user.is_authenticated %}
                            <div class="flex-none mr-2">
                                <div class="dropdown dropdown-end">
                                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                                        <div class="w-10 rounded-full">
                                            <img alt="Profile picture"
                                                 src="{% if user.profile.photo %}{{ user.profile.photo.url }}{% else %}{% static "images/default-profile-picture.jpg" %}{% endif %}" />
                                        </div>
                                    </div>
                                    <ul tabindex="0"
                                        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                                        <li>
                                            <a href="{% url "user_edit" %}">{% trans "Profile" %}</a>
                                        </li>
                                        {% url 'account_email' as email_url_ %}
                                        {% if email_url_ %}
                                            <li>
                                                <a href="{{ email_url_ }}">{% trans "Change Email" %}</a>
                                            </li>
                                        {% endif %}
                                        {% url 'account_change_password' as change_password_url_ %}
                                        {% if change_password_url_ %}
                                            <li>
                                                <a href="{{ change_password_url_ }}">{% trans "Change Password" %}</a>
                                            </li>
                                        {% endif %}
                                        {% url 'socialaccount_connections' as connections_url_ %}
                                        {% if connections_url_ %}
                                            <li>
                                                <a href="{{ connections_url_ }}">{% trans "Account Connections" %}</a>
                                            </li>
                                        {% endif %}
                                        {% url 'mfa_index' as mfa_url_ %}
                                        {% if mfa_url_ %}
                                            <li>
                                                <a href="{{ mfa_url_ }}">{% trans "Two-Factor Authentication" %}</a>
                                            </li>
                                        {% endif %}
                                        {% url 'usersessions_list' as usersessions_list_url_ %}
                                        {% if usersessions_list_url_ %}
                                            <li>
                                                <a href="{{ usersessions_list_url_ }}">{% trans "Sessions" %}</a>
                                            </li>
                                        {% endif %}
                                        {% url 'account_logout' as logout_url_ %}
                                        {% if logout_url_ %}
                                            <form action="{{ logout_url_ }}" method="post">
                                                <li>
                                                    <button type="submit" class="text-neutral-content">{% trans "Sign Out" %}</button>
                                                    {% csrf_token %}
                                                </li>
                                            </form>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if messages %}
                        <ul class="mx-6">
                            {% for message in messages %}
                                <li>
                                    <div role="alert" class="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             class="stroke-info h-6 w-6 shrink-0">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                                            </path>
                                        </svg>
                                        <span>{{ message }}</span>
                                        <button class="btn btn-circle btn-outline btn-xs opacity-60"
                                                onclick="this.parentElement.parentElement.remove()">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 class="h-4 w-4"
                                                 fill="none"
                                                 viewBox="0 0 24 24"
                                                 stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                            </svg>
                                        </button>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="flex px-6">
                        <div class="grow"></div>
                        <div class="md:w-[64rem]">
                            {% block content %}
                            {% endblock content %}
                        </div>
                        <div class="grow"></div>
                    </div>
                {% endblock body %}
                {% block extra_body %}
                {% endblock extra_body %}
            </div>
            <div class="drawer-side">
                <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                <ul class="menu bg-base-200 min-h-full w-80 p-4">
                    {% include "allauth/layouts/menu.html" %}
                </ul>
            </div>
        </div>
    </body>
</html>
