{% load i18n %}

{% if user.is_authenticated %}
  <li>
    <a href="{% url "oauth2_provider:list" %}">{% trans "Applications" %}</a>
  </li>
{% else %}
  {% url 'account_login' as login_url_ %}
  {% if login_url_ %}
    <li>
      <a href="{{ login_url_ }}{% if redirect_field_value %}?next={{ redirect_field_value|urlencode }}{% endif %}">{% trans "Sign In" %}</a>
    </li>
  {% endif %}
  {% url 'account_signup' as signup_url_ %}
  {% if signup_url_ %}
    <li>
      <a href="{{ signup_url_ }}{% if redirect_field_value %}?next={{ redirect_field_value|urlencode }}{% endif %}">{% trans "Sign Up" %}</a>
    </li>
  {% endif %}
{% endif %}
