{% extends "allauth/layouts/manage.html" %}
{% comment %} djlint:off {% endcomment %}
{% load allauth %}
{% load static %}

{% block title %}
  Edit your account
{% endblock title %}

{% block content %}
  {% element h1 %}
    Edit Profile
  {% endelement %}
  <p>You can edit your account using the following form:</p>
  <form method="post" enctype="multipart/form-data" class="mb-3">
    {% element fields form=user_form unlabeled=True %}
    {% endelement %}
    
    {% element fields form=profile_form unlabeled=True %}
    {% endelement %}
    
    {% csrf_token %}
    <p>
      {% element button type="submit" class="btn btn-primary" %}
        Save changes
      {% endelement %}
    </p>
  </form>
{% endblock content %}

{% block extra_body %}
  <div class="template-data" data-not-an-image="{% static "images/no-image.jpg" %}"></div>
  <script type="module" src="{% static "js/image-field-preview.js" %}"></script>
{% endblock extra_body %}
