{% extends "blog/base.html" %}

{% block title %}
  My Blog
{% endblock title %}

{% block content %}
  <h1>My Blog</h1>
  {% if tag %}<h2>Posts tagged with "{{ tag.name }}"</h2>{% endif %}
  {% for post in posts %}
    <h2>
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </h2>
    {% include "blog/post/includes/tags.html" %}
    <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
    {{ post.body|truncatewords:30|linebreaks }}
  {% endfor %}

  {% comment %} Loads the pagination template and use the current template context. {% endcomment %}
  {% comment %} `ListView` view uses the `page_obj` variable to represent the page requested. {% endcomment %}
  {% include "pagination.html" with page=posts %}
{% endblock content %}
